<!DOCTYPE html>
<html lang="en">
<head>
<title>Contact</title>
<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link rel="stylesheet" href="../static/css/style.css" type="text/css">
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/responsiveslides.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Tennis Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- webfonts -->
  <link href='#css?family=Open+Sans:400italic,700italic,400,300,600,800,700' rel='stylesheet' type='text/css'>
  <!-- webfonts --> 
</head>
<body> 
<!----->
<div class="header">
	 <div class="container">
	 <div class="logo">
	 <a href="myindex.html"><img src="../static/images/logo.png" alt=""/></a>
	 </div>
	 <div class="top-menu top">
			<span class="menu"> </span>
		 <ul>
			  <li class=" simptip-position-bottom simptip-movable" data-tooltip="Home"><a class="home home-pg" href="/"></a></li>
		      <li class=" simptip-position-bottom simptip-movable" data-tooltip="About"><a class="about" href="{% url 'about' %}"></a></li>
			  <li class=" simptip-position-bottom simptip-movable" data-tooltip="Service"><a class="service" href="{% url 'service' %}"></a></li>
			  <li class=" simptip-position-bottom simptip-movable" data-tooltip="Gallery"><a class="gallery" href="{% url 'gallery' %}"></a></li>
			  <li class="active simptip-position-bottom simptip-movable" data-tooltip="Contact"><a class="contact contact-pg" href="{% url 'contact' %}"></a></li>
			 <div class="clearfix"></div>
		 </ul>
				  <!--script-nav-->
				 <script>
				 $("span.menu").click(function(){
				 $(".top-menu ul").slideToggle("slow" , function(){
				 });
				 });
				 </script>
				 <!--script-nav-->
	 </div>
	 <div class="clearfix"></div>
	 </div>
</div>
<!----->
<!---start-content---->
<div class="contact_desc">
		        <div class="container">
			         <div class="contact-form">
				  	   <h2>CONTACT US</h2>
					     <form method="post"  class="left_form">
					    	<div>
						    	<span><label>NAME</label></span>
						    	<span><input name="userName" type="text" class="textbox"></span>
						    </div>
						    <div>
						    	<span><label>E-MAIL</label></span>
						    	<span><input name="userEmail" type="text" class="textbox"></span>
						    </div>
						    <div>
						     	<span><label>Fax</label></span>
						    	<span><input name="userPhone" type="text" class="textbox"></span>
						    </div>
					    </form>
					    <form class="right_form">
					        <div>					    	
						    	<span><label>SUBJECT</label></span>
						    	<span><textarea name="userMsg"> </textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" value="Submit" class="myButton"></span>
						  </div>
					    </form>
					    <div class="clearfix"></div>
				  </div>
				 <div class="content_bottom">
				 	<div class="company_address">
				     	<h3>Location</h3>
						    	<p>500 Lorem Ipsum Dolor Sit,</p>
						   		<p>22-56-2-9 Sit Amet, Lorem,</p>
						   		<p>USA</p>
				   		<p>Phone:(00) 222 666 444</p>
				   		<p>Fax: (000) 000 00 00 0</p>
				 	 	<p>Email:   <a href="mailto:info@example.com">info(at)example.com</a></p>
				   		<p>Follow on:  <a href="#">Facebook</a></span>, <span><a href="#">Twitter</a></p>
				     </div>
				       <div class="contact_info">
    	 				<h3>Find Us Here</h3>
					    	  <div class="map">
							   	    <iframe width="100%" height="185" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#8C8061;text-align:left;font-size:1em">View Larger Map</a></small>
							  </div>
      				     </div>
				      <div class="clearfix"></div>
	                </div>	
	             </div>  
</div>
<!----->
<!----->
<div class="fotter">
	 <div class="container">
		 <div class="col-md-3 ftr-logo">
		 <a href="myindex.html"><img src="../static/images/logo2.png" alt=""/></a>
		 </div>
		 <div class="col-md-3 address">
			 <h4>Address</h4>
			 <ul class="address-info">
			     <li><span></span></li>
				 <li><p>10-765 mg-Road</p>
				 <p>Washington, DC, United States,</p>
				 <p>ud-19832-6578.</p></li>
			 </ul>
			 <ul class="address-mail">
				 <li><span></span></li>
				 <li><p>Phone: +1 900 879 1234</p>
				 <p>Email: <a href="mailto:info@example.com">example(at)mail.com</a></p></li>
			 </ul>
		 </div>
		 <div class="col-md-6 touch">
			 <h4>Stay in Touch</h4>
			 <div class="form">
			 <form>
				 <input type="text" value="" onfocus="this.value=''" onblur="this.value=''">
				 <input type="submit" value="Sign up">
			 </form>
			 </div>
			 <div class="social-icons">
				 <a href="#"><span class="fb"> </span></a>
				 <a href="#"><span class="twt"> </span></a>
				 <a href="#"><span class="wifi"> </span></a>
				 <a href="#"><span class="in"> </span></a>				 
			 </div>
		 </div>
		 <div class="clearfix"></div>
		 <div class="copy-right"><p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://guantaow.taobao.com/">厚朴网络淘宝店</a><a target="_blank" href="http://www.moobnn.com">网页模板</a></p></div>
	 </div>
</div>
<!----->
</body>
</html>