<!DOCTYPE html>
<html lang="en">
<head>
<title>Services</title>
<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link rel="stylesheet" href="../static/css/style.css" type="text/css">
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/responsiveslides.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Tennis Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- webfonts -->
  <link href='#css?family=Open+Sans:400italic,700italic,400,300,600,800,700' rel='stylesheet' type='text/css'>
  <!-- webfonts --> 
</head>
<body> 
<!----->
<div class="header">
	 <div class="container">
	 <div class="logo">
	 <a href="myindex.html"><img src="../static/images/logo.png" alt=""/></a>
	 </div>
	 <div class="top-menu top">
			<span class="menu"> </span>
		 <ul>
			  <li class="simptip-position-bottom simptip-movable" data-tooltip="Home"><a class="home home-pg" href="/"></a></li>
		      <li class="simptip-position-bottom simptip-movable" data-tooltip="About"><a class="about" href="{% url 'about' %}"></a></li>
			  <li class="active simptip-position-bottom simptip-movable" data-tooltip="Service"><a class="service service-pg" href="{% url 'service' %}"></a></li>
			  <li class=" simptip-position-bottom simptip-movable" data-tooltip="Gallery"><a class="gallery" href="{% url 'gallery' %}"></a></li>
			  <li class=" simptip-position-bottom simptip-movable" data-tooltip="Contact"><a class="contact" href="{% url 'contact' %}"></a></li>
			 <div class="clearfix"></div>
		 </ul>
				  <!--script-nav-->
				 <script>
				 $("span.menu").click(function(){
				 $(".top-menu ul").slideToggle("slow" , function(){
				 });
				 });
				 </script>
				 <!--script-nav-->
	 </div>
	 <div class="clearfix"></div>
	 </div>
</div>
<!----->
<script>
		$(document).ready(function () {
		    size_li = $("#myList li").size();
		    x=2;
		    $('#myList li:lt('+x+')').show();
		    $('#loadMore').click(function () {
		        x= (x+1 <= size_li) ? x+1 : size_li;
		        $('#myList li:lt('+x+')').show();
		    });
		    $('#showLess').click(function () {
		        x=(x-1<0) ? 1 : x-1;
		        $('#myList li').not(':lt('+x+')').hide();
		    });
		});
	</script>

<div class="service-grids">
	 <div class="container">
		 <h2>SERVICES</h2>
		 <div class="service-grid">
			 <div class="load_more">	
				<ul id="myList">
					<li><div class="l_g">
						 <div class="col-md-4 service-sec">
							 <img src="../static/images/s1.jpg" alt=""/>
							 <h3><a href="#">Phasellus porta</a></h3>
							 <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
						 </div>
						 <div class="col-md-4 service-sec">
							 <img src="../static/images/s2.jpg" alt=""/>
							 <h3><a href="#">Phasellus porta</a></h3>
							 <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
						 </div>
						 <div class="col-md-4 service-sec">
							<img src="../static/images/s3.jpg" alt=""/>
							 <h3><a href="#">Phasellus porta</a></h3>
							 <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
						 </div>
						 <div class="clearfix"></div>
						 </div>
					</li>
					
					<li><div class="l_g">
						 <div class="col-md-4 service-sec">
							<img src="../static/images/s4.jpg" alt=""/>
							 <h3><a href="#">Phasellus porta</a></h3>
							 <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
						 </div>
						 <div class="col-md-4 service-sec">
							 <img src="../static/images/s5.jpg" alt=""/>
							 <h3><a href="#">Phasellus porta</a></h3>
							 <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
						 </div>
						 <div class="col-md-4 service-sec">
							 <img src="../static/images/s6.jpg" alt=""/>
							 <h3><a href="#">Phasellus porta</a></h3>
							 <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
						 </div>
						 <div class="clearfix"></div>
						  </div>
					</li>
					
					<li><div class="l_g">
						 <div class="col-md-4 service-sec">
							 <img src="../static/images/s7.jpg" alt=""/>
							 <h3><a href="#">Phasellus porta</a></h3>
							 <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
						 </div>
						 <div class="col-md-4 service-sec">
							 <img src="../static/images/s8.jpg" alt=""/>
							 <h3><a href="#">Phasellus porta</a></h3>
							 <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
						 </div>
						 <div class="col-md-4 service-sec">
							 <img src="../static/images/s9.jpg" alt=""/>
							 <h3><a href="#">Phasellus porta</a></h3>
							 <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
						 </div>
						 <div class="clearfix"></div>
						 </div>
					</li>
					
					<li><div class="l_g">
						 <div class="col-md-4 service-sec">
							 <img src="../static/images/s10.jpg" alt=""/>
							 <h3><a href="#">Phasellus porta</a></h3>
							 <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
						 </div>
						 <div class="col-md-4 service-sec">
							 <img src="../static/images/s11.jpg" alt=""/>
							 <h3><a href="#">Phasellus porta</a></h3>
							 <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
						 </div>
						 <div class="col-md-4 service-sec">
							 <img src="../static/images/s12.jpg" alt=""/>
							 <h3><a href="#">Phasellus porta</a></h3>
							 <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
						 </div>
						 <div class="clearfix"></div>
						 </div>
					</li>
					
				 </ul>
				 <div id="loadMore">Load more</div>
				 <div id="showLess">Show less</div>

				 </div>
			 </div>
		 </div>
	 </div>
</div>
<!----->
<div class="fotter">
	 <div class="container">
		 <div class="col-md-3 ftr-logo">
		 <a href="myindex.html"><img src="../static/images/logo2.png" alt=""/></a>
		 </div>
		 <div class="col-md-3 address">
			 <h4>Address</h4>
			 <ul class="address-info">
			     <li><span></span></li>
				 <li><p>10-765 mg-Road</p>
				 <p>Washington, DC, United States,</p>
				 <p>ud-19832-6578.</p></li>
			 </ul>
			 <ul class="address-mail">
				 <li><span></span></li>
				 <li><p>Phone: +1 900 879 1234</p>
				 <p>Email: <a href="mailto:info@example.com">example(at)mail.com</a></p></li>
			 </ul>
		 </div>
		 <div class="col-md-6 touch">
			 <h4>Stay in Touch</h4>
			 <div class="form">
			 <form>
				 <input type="text" value="" onfocus="this.value=''" onblur="this.value=''">
				 <input type="submit" value="Sign up">
			 </form>
			 </div>
			 <div class="social-icons">
				 <a href="#"><span class="fb"> </span></a>
				 <a href="#"><span class="twt"> </span></a>
				 <a href="#"><span class="wifi"> </span></a>
				 <a href="#"><span class="in"> </span></a>				 
			 </div>
		 </div>
		 <div class="clearfix"></div>
		<div class="copy-right"><p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://guantaow.taobao.com/">厚朴网络淘宝店</a><a target="_blank" href="http://www.moobnn.com">网页模板</a></p></div>
	 </div>
</div>
<!----->
</body>
</html>